$full-width: 100%;

$full-width-flex: 1 0 100%;

$neat-grid: (
  columns: 12,
  gutter: 10px,
);

.full-width {
  width: $full-width;
  flex: $full-width-flex;
}

.grid-container {
  @include grid-container;
}

.collapse {
	@include grid-collapse;
}

.col {
  float: left;
  display: block;
  position: relative;
  min-height: 1px;
}

@for $i from 1 through 12 {
  .col-#{$i}-to-12 { @include grid-column($i, $neat-grid) }
}

