button {
  border-radius: 0;
  min-width: 50px;
  min-height: 10px;
  padding: 10px 10px 10px 10px;
}

.primary-btn {
  background: $primary-color;
  border: 2px solid $black;
}

.secondary-btn {
  background: $secondary-color;
  border: 2px solid $black;
}

.tertiary-btn {
  background: $tertiary-color;
  border: 2px solid $black;
}