a {
  padding: 2.5px 5px 2.5px 5px;
}

.primary-link {
  color: $primary-color;
}

.secondary-link {
  color: $secondary-color;
}

.tertiary-link {
  color: $tertiary-color;
  text-decoration: underline;
}